<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>HomeSense</title>

	<link rel="stylesheet" href="/static/assets/demo.css">
	<link rel="stylesheet" href="/static/assets/form-labels-on-top.css">

</head>


	<!--<header>-->
		<!--<h1>HomeSense - Sensor Setup</h1>-->
    <!--</header>-->

    <div class="main-content">

        <!-- You only need this form and the form-labels-on-top.css -->

        <form class="form-labels-on-top" method="post" action="#">

            <div class="form-title-row">
                <h1>HomeSense Client Setup</h1>
            </div>

            <div class="form-row">
                <label>
                    <span>Sensor Name</span>
                    <input type="text" name="name">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Sensor Location</span>
                    <input type="text" name="location">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>HomeSense Server</span>
                    <input type="text" name="server" value="https://homesense.cloud">
                </label>
            </div>


            <div class="form-row">
                <button type="submit">Submit Form</button>
            </div>

        </form>

    </div>

</body>

</html>
